@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700;800;900&display=swap');
:root {
	--main-color: #538fcc;
	--main-color-alt: #4372a1;
	--main-transition-duration: all 0.3s ease;
	--eraser-color: #7c2b2b;
	--eraser-color-alt: #cc5353;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Kufi Arabic', sans-serif;
	overflow-anchor: none;
	caret-color: var(--main-color);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
/* @media (max-width: 767px) {
	.container {
		padding: 0;
		width: 100%;
	}
} */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Start Nav Bar*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	background-color: #fff;
}
nav ul li {
	display: inline-block;
	margin-right: 50px;
}
nav li a {
	color: var(--main-color);
	transition: var(--main-transition-duration);
	font-weight: bold;
	border: 2px solid var(--main-color);
	border-radius: 6px;
	padding: 10px;
}
nav li a:hover {
	color: white;
	background-color: var(--main-color);
}
@media (max-width: 767px) {
	nav {
		padding-bottom: 20px;
		flex-direction: column;
		-webkit-box-shadow: 0 0 10px #ddd;
		-moz-box-shadow: 0 0 10px #ddd;
		box-shadow: 0 0 10px #ddd;
	}
	nav ul {
		width: 70%;
		margin-top: 20px;

		display: flex;
	}
	nav ul li {
		margin: auto;
	}
	nav ul li a {
		padding: 5px;
	}
}
.logo {
	width: 320px;
}
.logo img {
	width: 100%;
}

/* Start Home */
.home {
	padding-top: 50px;
	position: relative;
	text-align: center;
	height: 80vh;
}
.home .content {
	position: relative;
}
.home .content h1 {
	color: var(--main-color-alt);
}
.home .content p {
	color: rgb(70, 70, 70);
	margin: 20px auto;
	width: 80%;
	line-height: 2;
	font-size: 20px;
}
.home .content .para {
	position: relative;
}
.para::after {
	content: '';
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	height: 2px;
	background-color: var(--main-color-alt);
}
.home .content h2 {
	width: 90%;
	margin: 30px auto;
	color: var(--main-color-alt);
}
/* .arrow-parent {
	position: relative;
}
.go-down {
	color: var(--main-color-alt);
	position: absolute;
	transition: var(--main-transition-duration);
	font-size: 10px;
	animation: bouncing 1.5s infinite;
	margin-top: 15px;
	left: 50%;
	transform: translateX(-50%);
}
.go-down:hover {
	color: var(--main-color);
} */
/* Responsive Home */
@media (max-width: 767px) {
	.home {
		height: 100vh;
	}
	.home .content h1 {
		width: 95%;
		font-size: 27px;
	}
	.home .content p {
		line-height: 1.7;
	}
}
/* Start Applications */
.applications {
	padding-top: 50px;
	/* padding-bottom: 50px; */
	text-align: center;
}
.applications h2 {
	margin-bottom: 20px;
	font-size: 30px;
	color: var(--main-color-alt);
}
.applications .content {
	/* display: flex;
	align-items: center;
	justify-content: space-evenly; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	flex-wrap: wrap;
	text-align: center;
	gap: 30px;
}
.applications .card {
	cursor: pointer;
	padding: 10px;
	border: 2px solid var(--main-color-alt);
	border-radius: 6px;
	transition: var(--main-transition-duration);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	background-color: #eee;
	height: 100%;
}
.applications .card:hover {
	transform: scale(1.05);
}
.applications .card h4 {
	color: var(--main-color-alt);
	margin-bottom: 20px;
}
.applications p {
	margin-top: 12px;
	margin-bottom: 10px;
}
/* Start Footer */
.footer {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 2px solid #eee;
	display: flex;
	align-items: center;
	/* justify-content: space-evenly; */
	gap: 30px;
}
.footer .image {
	width: 50%;
}
/* .footer .image a {
	width: 100%;
} */
.footer .image a img {
	width: 50%;
}
.footer ul {
	width: fit-content;
	margin: auto;
	text-align: right;
}
.footer ul li {
	margin: 10px;
	cursor: pointer;
	width: fit-content;
	transition: var(--main-transition-duration);
}
.footer ul li a {
	font-weight: bold;
	color: var(--main-color);
	transition: var(--main-transition-duration);
}
.footer ul li:hover {
	transform: translateX(-5px);
}

footer .copy-right {
	display: block;
	background-color: var(--main-color-alt);
	color: white;
	text-align: center;
}
footer .copy-right p {
	margin: 0;
}
/* Responsive Footer */
@media screen and (max-width: 767px) {
	.footer {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.footer .image {
		width: 80%;
	}
}
/* Start Animation */
@keyframes bouncing {
	0%,
	10%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40%,
	60% {
		transform: translateY(-15px);
	}
}

/* Each App */
.main {
	text-align: center;
	padding-top: 10px;
}
.main .container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.main ul {
	width: 90%;
}
.main .content-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-bottom: 30px; */
	gap: 30px;
}
.main div {
	flex: 1;
}
.main .info {
	text-align: right;
}
.main p,
.main q {
	line-height: 2;
	margin-top: 8px;
	display: block;
	text-align: center;
}
.main span {
	font-weight: bold;
	color: var(--main-color);
}
.main .image {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main .image img {
	width: 90%;
}
.main h3 {
	font-size: 25px;
	color: var(--main-color);
	margin: 20px 0 0;
}
.main .content-2 {
	text-align: center;
	padding-bottom: 50px;
}
.main .content-3 {
	text-align: center;
	padding-bottom: 20px;
}
/* Start Each App Responsive */
@media screen and (max-width: 991px) {
	.main .content-1 {
		flex-direction: column;
		justify-content: center;
	}
	.main p,
	.main q {
		width: 90%;
		margin: auto;
	}
}

/* Start Instructions */
.instructions .disc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.instructions ul {
	list-style: number;
	/* width: fit-content; */
	margin: auto;
	font-size: 22px;
	text-align: right;
}
.instructions .guid h3 {
	margin: 30px 0 0;
}
.instructions .guid ul li {
	transition: var(--main-transition-duration);
	width: fit-content;
	cursor: pointer;
}
.instructions .guid ul li:hover {
	background-color: var(--main-color-alt);
	padding: 5px;
	border-radius: 6px;
}
.instructions .guid ul li:hover a {
	color: white;
}
.instructions .child-list {
	list-style: none;
	font-size: 19px;
	list-style: disc;
}
.instructions .child-list li {
	margin-top: 8px;
}
.child-list span a {
	color: var(--main-color-alt);
	transition: var(--main-transition-duration);
	padding: 0 2px;
}
.child-list span a:hover {
	background-color: var(--main-color-alt);
	color: white;
	border-radius: 6px;
}
.instructions img {
	width: 700px;
}
/* .instructions h3 {
	margin: 20px;
} */
.instructions h3 a {
	color: var(--main-color-alt);
	transition: var(--main-transition-duration);
}
.instructions h3 a:hover {
	background-color: var(--main-color);
	color: white;
	border-radius: 6px;
	padding: 2px;
}
/* Instructions Responsive */
@media screen and (max-width: 767px) {
	.instructions img {
		width: 350px;
	}
	.instructions .disc {
		flex-direction: column;
	}
}
/* Eraser Colors */
.eraser h3 {
	color: var(--eraser-color);
}
.eraser span {
	color: var(--eraser-color-alt);
}
.eraser .child-list span a {
	color: var(--eraser-color-alt);
}
.eraser .child-list span a:hover {
	background-color: var(--eraser-color-alt);
	color: white;
}
.eraser .instructions .guid ul li:hover {
	background-color: var(--eraser-color-alt);
}
.eraser .instructions .guid ul li:hover a {
	color: white;
}
.eraser .instructions h3 a {
	color: var(--eraser-color-alt);
}
.eraser .instructions h3 a:hover {
	background-color: var(--eraser-color-alt);
	color: white;
}
